:root {
    --typography-headings: 'IBM Plex Mono', monospace;
    --typography-content: 'IBM Plex Mono', monospace;
    --typography-code: 'IBM Plex Mono', monospace;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    color: var(--theme-primary);
    font-size: 18px;
    line-height: 1.756;
    font-family: var(--typography-content);
    -webkit-font-smoothing: antialiased;
    background: var(--theme-gradient);
    margin: 0;
    padding: 0;
}

@media print {
    body {
        margin: unset;
        max-width: unset;
    }
}

h2 {
    margin: 3rem 0 0;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--typography-headings);
    font-style: italic;
}

article,
main {
    line-height: 1.756;
    margin: 0 auto 35px;
    max-width: 680px;
    padding: 1rem;
}

article > p {
    font-size: 18px;
}

a {
    color: var(--theme-accent);
    text-decoration: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    a:hover {
        text-decoration: underline;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    a:not(.tag) {
        display: inline;
        position: relative;
        overflow: hidden;
    }

    a:not(.tag)::after {
        content: '';
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0;
        bottom: -6px;
        background: var(--theme-accent);
        height: 3px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    a:not(.tag):hover::after,
    a:not(.tag):focus::after,
    a:not(.tag):active::after {
        left: 0;
        right: auto;
        width: 100%;
    }
}

h1 {
    font-size: 2.5rem;
    line-height: 1.15;
    color: var(--theme-primary);
    font-family: var(--typography-headings);
    font-weight: bold;
}

blockquote {
    color: var(--theme-primary);
    font-family: var(--typography-headings);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.32;
    margin: 0 auto;
    max-width: 880px !important;
    padding-bottom: 0;
    width: 100%;
}

cite {
    display: block;
    text-align: right;
    font-size: 1rem;
    color: var(--theme-grey);
    font-style: italic;
    font-family: var(--typography-headings);
}

cite::before {
    content: '— ';
}

kbd {
    white-space: pre;
    background: #455a64;
    color: #ffffff;
    padding: 3px 6px 1px 6px;
    border-radius: 4px;
    font-weight: bold;
    border-bottom: #607d8b 2px solid;
}

kbd:not(:last-of-type) {
    margin-right: 5px;
}

img {
    max-width: min(680px, 100%);
}

hr {
    position: relative;
    width: 100%;
    max-width: min(680px, 100%);
    height: 14.36px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='15' viewBox='0 0 10 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.567383' y='14.1777' width='16' height='1' transform='rotate(-60 0.567383 14.1777)' fill='%232D2E33'/%3E%3C/svg%3E");
    box-sizing: border-box;
    margin: 50px auto;
    border-width: 0;
    border-style: none;
    border-color: none;
    border-image: none;
    background-repeat: repeat-x;
    background-position: center center;
}

.byline {
    display: inline;
    color: var(--theme-grey);
    box-sizing: border-box;
    cursor: default;
    font-family: var(--typography-content);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialised;
}

.byline address {
    display: inline;
    font-style: normal;
    font-weight: bold;
}

pre {
    font-size: 1rem;
    font-size: 0.9rem;
    border-radius: 9px;
    white-space: pre-wrap;
}

p > code {
    font-style: italic;
    white-space: pre;
    background: var(--theme-codeBackground);
    color: var(--theme-accent);
    padding: 1px 4px;
    margin: 0 2px;
    border-radius: 5px;
}

mark {
    background: var(--theme-highlight);
    padding: 3px;
}

.title {
    text-transform: uppercase;
}

.title a {
    color: var(--theme-grey);
}

.title a:hover {
    color: var(--theme-accent);
}

img.hero {
    margin: 2rem 0 2rem;

    /* margin: 2rem calc(((100% + 100px) - 100%) / -2) 2rem;
    width: calc(100% + 100px);
    max-width: calc(100% + 100px); */
}

article > img {
    border-radius: 3px;
}

footer {
    align-items: center;
    border-top: 1px solid var(--theme-horizontalRule);
    color: var(--theme-grey);
    display: flex;
    height: 200px;
    line-height: 1.756;
    margin: 50px auto 0;
    max-width: 680px;
    padding: 1rem;
}

header {
    color: var(--theme-grey);
    line-height: 1.756;
    margin: 1rem auto 2rem;
    max-width: 680px;
    padding: 1rem;
}

.tag {
    color: var(--theme-primary);
    font-weight: bold;
}

.series {
    background: var(--theme-card);
    box-shadow: 0 4px 50px var(--theme-hover);
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem 50px;
}

.series .subtitle {
    color: var(--theme-grey);
    margin-left: 0.5rem;
}

svg.main-logo {
    stroke: var(--theme-primary);
}

.banner {
    padding: 20px;
    border-radius: 6px;
    margin: 30px 0;
}

.banner.banner-error {
    background: #880e4f;
}

.banner.banner-tip {
    background: #558b2f;
}

.banner.banner-warn {
    background: #f57f17;
}

.banner.banner-info {
    background: #0d47a1;
}

.banner-header {
    display: inline-flex;
    align-items: center;
}

.banner-title {
    margin: 0 0 0 15px;
}

.banner-content {
    margin: 10px 0 0 0;
}

abbr {
    text-decoration: none;
    border-bottom: #009688 dotted 2px;
}
