:root {
    --typography-headings: 'Cascadia Code', 'Courier New', Courier, monospace;
    --typography-content: 'Cascadia Code', 'Courier New', Courier, monospace;
    --typography-code: 'Cascadia Code', 'Courier New', Courier, monospace;
    --max-width: 1000px;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/CascadiaCode.woff2') format('woff2'),
        url('/CascadiaCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('/CascadiaCodeItalic.woff2') format('woff2'),
        url('/CascadiaCodeItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    color: var(--theme-primary);
    line-height: 1.756;
    font-family: var(--typography-content);
    -webkit-font-smoothing: antialiased;
    background: var(--theme-gradient);
    margin: 0;
    padding: 0 1rem;
}

section {
    margin: 5rem 0;
}

@media print {
    body {
        margin: unset;
        max-width: unset;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--typography-headings);
    font-style: italic;
}

article,
main {
    line-height: 1.756;
    margin: 0 auto 35px;
    max-width: var(--max-width);
    padding: 1rem;
}

article p {
    margin: 0 auto 33px;
}

article.list-article {
    border-bottom: 1px solid var(--theme-horizontalRule);
}

a {
    color: var(--theme-accent);
    text-decoration: none;
}

@media screen and (prefers-reduced-motion: reduce) {
    a:hover {
        text-decoration: underline;
    }
}

@media screen and (prefers-reduced-motion: no-preference) {
    a:not(.tag) {
        display: inline;
        position: relative;
        overflow: hidden;
    }

    a:not(.tag)::after {
        content: '';
        position: absolute;
        z-index: 1;
        right: 0;
        width: 0;
        bottom: -6px;
        background: var(--theme-accent);
        height: 3px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

    a:not(.tag):hover::after,
    a:not(.tag):focus::after,
    a:not(.tag):active::after {
        left: 0;
        right: auto;
        width: 100%;
    }
}

h1 {
    font-size: 3rem;
    line-height: 1.15;
    color: var(--theme-primary);
    font-family: var(--typography-headings);
    font-weight: 200;
}

blockquote {
    color: var(--theme-primary);
    font-family: var(--typography-headings);
    font-size: 2rem;
    font-style: italic;
    line-height: 1.42;
    margin: 0 auto;
    max-width: 880px !important;
    padding-bottom: 0;
    margin: 5rem 2rem;
    border-left: 6px solid #3f51b5;
    padding: 0 2rem;
}

cite {
    display: block;
    text-align: right;
    font-size: 1.3rem;
    color: var(--theme-grey);
    font-style: italic;
    font-family: var(--typography-headings);
}

cite::before {
    content: '— ';
}

kbd {
    white-space: pre;
    background: #455a64;
    color: #ffffff;
    padding: 3px 6px 1px 6px;
    border-radius: 4px;
    font-weight: bold;
    border-bottom: #607d8b 2px solid;
}

kbd:not(:last-of-type) {
    margin-right: 5px;
}

hr {
    border: none;
    color: var(--theme-grey);
    margin: 50px auto;
}

hr::before {
    content: '***';
    display: flex;
    justify-content: center;
    color: var(--theme-primary);
    opacity: 0.2;
    font-size: 1.5rem;
}

.byline {
    display: inline;
    color: var(--theme-grey);
    box-sizing: border-box;
    cursor: default;
    font-family: var(--typography-content);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialised;
}

.byline address {
    display: inline;
    font-style: normal;
    font-weight: bold;
}

pre {
    font-size: 1rem;
    font-size: 0.9rem;
    border-radius: 9px;
    white-space: pre-wrap;
}

p > code {
    font-style: italic;
    white-space: pre;
    background: var(--theme-codeBackground);
    color: var(--theme-accent);
    padding: 1px 4px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 18px;
}

mark {
    background: var(--theme-highlight);
    padding: 3px;
}

.title a {
    color: var(--theme-grey);
}

.tagline {
    color: var(--theme-grey);
}

.title a:hover {
    color: var(--theme-accent);
}

img.hero {
    margin: 2rem 0 2rem;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    align-items: center;
    color: var(--theme-grey);
    display: flex;
    height: 200px;
    line-height: 1.756;
    margin: 50px auto 0;
    max-width: var(--max-width);
    padding: 1rem;
}

header {
    color: var(--theme-grey);
    line-height: 1.756;
    margin: 1rem auto 2rem;
    max-width: var(--max-width);
    padding: 1rem;
}

.tag {
    color: var(--theme-primary);
    font-weight: bold;
}

.series {
    background: var(--theme-card);
    box-shadow: 0 4px 50px var(--theme-hover);
    margin: 0 auto;
    max-width: 1000px;
    padding: 2rem 50px;
}

.series .subtitle {
    color: var(--theme-grey);
    margin-left: 0.5rem;
}

svg.main-logo {
    stroke: var(--theme-primary);
}

.banner {
    padding: 20px;
    border-radius: 6px;
    margin: 30px 0;
}

.banner.banner-error {
    border: 5px solid var(--theme-error);
}

.banner.banner-error svg {
    fill: var(--theme-error);
}

.banner.banner-tip {
    border: 5px solid var(--theme-tip);
}

.banner.banner-tip svg {
    fill: var(--theme-tip);
}

.banner.banner-warn {
    border: 5px solid var(--theme-warn);
}

.banner.banner-warn svg {
    fill: var(--theme-warn);
}

.banner.banner-info {
    border: 5px solid var(--theme-info);
}

.banner.banner-info svg {
    fill: var(--theme-info);
}

.banner-header {
    display: inline-flex;
    align-items: center;
}

.banner-title {
    margin: 0 0 0 15px;
}

.banner-content {
    margin: 10px 0 0 0;
}

abbr {
    text-decoration: none;
    border-bottom: #009688 dotted 2px;
}

figcaption {
    color: var(--theme-grey);
    font-style: italic;
    text-align: center;
}

figure {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #263238;
}

table,
th,
tr,
td,
thead {
    border: 1px solid #607d8b;
    padding: 5px 20px;
}

table {
    margin: 40px 0;
}

@keyframes shimmer {
    from {
        background-position: -1000px;
    }
    to {
        background-position: 1000px;
    }
}

article img {
    border-radius: 3px;
    background: linear-gradient(
        to left,
        rgba(228, 228, 228, 0.1),
        rgba(218, 218, 218, 0.1) 33%,
        rgba(218, 218, 218, 0.1) 50%,
        rgba(228, 228, 228, 0.1)
    );
    animation-name: shimmer;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    max-width: 100%;
    height: auto;
}

main.error {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

main.error h1 {
    font-weight: 200;
}

ul.card-grid {
    display: flex;
    gap: 2rem 1.5rem;
    list-style: none;
    margin: 0;
    padding: 0px 1em;
    flex-direction: column;
}

.card-thumbnail {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

.card a {
    color: unset;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.card a:hover {
    color: var(--theme-accent);
}

.card-title {
    font-style: italic;
}

.card-details {
    color: var(--theme-grey);
}

ul.chip-grid {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    max-width: 1000px;
    padding: 0;
}

li.chip {
    margin: 0.75rem;
    padding: 0.25rem;
    width: 250px;
}

li.chip .chip-inner {
    align-items: center;
    display: flex;
    gap: 1rem;
}

img.chip-thumbnail {
    border-radius: 100%;
    height: 50px;
    object-fit: cover;
    width: 50px;
}

li.chip a {
    color: unset;
    text-decoration: none;
}

li.chip a:hover {
    color: var(--theme-accent);
}

iframe {
    max-width: 100%;
    height: 100%;
}
