:root {
    --theme-primary: #fff;
    --theme-secondary: #fff;
    --theme-grey: #73737d;
    --theme-background: #111216;
    --theme-accent: #9783e3;
    --theme-hover: rgba(255, 255, 255, 0.02);
    --theme-gradient: linear-gradient(
        180deg,
        rgb(17, 18, 22) 95%,
        rgba(36, 40, 49) 100%
    );
    --theme-articleText: #fff;
    --theme-track: rgba(255, 255, 255, 0.3);
    --theme-progress: #fff;
    --theme-card: #1d2128;
    --theme-error: #ee565b;
    --theme-success: #46b17b;
    --theme-errorBackground: rgba(238, 86, 91, 0.1);
    --theme-horizontalRule: rgba(255, 255, 255, 0.15);
    --theme-inputBackground: rgba(255, 255, 255, 0.07);
    --theme-highlight: #ffe31e;
    --theme-codeBackground: #1d2128;
}
