:root {
    --theme-primary: #fff;
    --theme-secondary: #fff;
    --theme-grey: #9e9e9e;
    --theme-background: #111216;
    --theme-accent: #9783e3;
    --theme-hover: rgba(255, 255, 255, 0.02);
    --theme-gradient: linear-gradient(
        180deg,
        rgb(17, 18, 22) 95%,
        rgba(36, 40, 49) 100%
    );
    --theme-articleText: #fff;
    --theme-track: rgba(255, 255, 255, 0.3);
    --theme-progress: #fff;
    --theme-card: #1d2128;
    /* https://coolors.co/f7768e-ff9e64-7aa2f7-bb9af7 */
    --theme-error-icon: #f7768e;
    --theme-warn-icon: #ff9e64;
    --theme-info-icon: #7aa2f7;
    --theme-tip-icon: #bb9af7;
    --theme-error: #843341;
    --theme-warn: #864d2d;
    --theme-info: #334d84;
    --theme-tip: #583a8f;
    --theme-horizontalRule: rgba(255, 255, 255, 0.15);
    --theme-highlight: #ffc107;
    --theme-codeBackground: #1d2128;
}
